<hr>
<main>
    <section class="platosLista">
        {{#each listado}}
            <ul>    
                <li><h4>{{this.nombre}}</h4></li>
                <li>Categoría: {{categoria}}</li>
                <li>Alérgenos: {{alergenos}}</li>
                <li>Ingredientes: {{ingredientes}}</li>
                <li>Comensales: {{comensales}}</li>
                <li>Precio: {{precio}} €</li>
                <li>Disponibilidad: {{disponibilidad}}</li>
            </ul>

            <button id="btnEdit">Editar plato</button>

            <form action="/delete/{{_id}}" method="GET">
                <button type="submit" id="btnDelete">Eliminar</button>
            </form> {{!-- sin terminar --}}

            <hr>
        {{/each}}
    </section>
</main>